.entities-container::after {
    content: "";
    flex: auto;
}

.dlt-card:hover {
    box-shadow:var(--dlt-elevation-md);
}

.pt-6,
.py-6 {
    padding-top: var(--dlt-spacing-4-x) !important;
}

.pr-6,
.px-6 {
    padding-right: var(--dlt-spacing-4-x) !important;
}

.pb-6,
.py-6 {
    padding-bottom: var(--dlt-spacing-4-x) !important;
}

.pl-6,
.px-6 {
    padding-left: var(--dlt-spacing-4-x) !important;
}

.mt-6,
.my-6 {
    margin-top: var(--dlt-spacing-4-x) !important;
}

.mr-6,
.mx-6 {
    margin-right: var(--dlt-spacing-4-x) !important;
}

.mb-6,
.my-6 {
    margin-bottom: var(--dlt-spacing-4-x) !important;
}

.ml-6,
.mx-6 {
    margin-left: var(--dlt-spacing-4-x) !important;
}

  /*
navigation bar css
*/
header.main-head {
    text-align: left;
    height: var(--dlt-font-line-height-xxl);
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--dlt-color-global-neutral-900);
    border-bottom: var(--dlt-border-width-default) solid var(--dlt-color-overlay);
    border-radius: 0px;
    font-family: Roboto, Arial, sans-serif;
    font-size: var(--dlt-font-size-sm);
    z-index: 999;
    padding: 0 var(--dlt-spacing-4-x);
    width: 100%;
}

header.main-head .brand {
    width: 140px;
    height: inherit;
    float: left;
    display: block;
}

header.main-head .brand img {
    width: inherit;
    margin-top: 18px;
}

img {
    vertical-align: middle;
    border-style: none;
}

header-wrap {
    display: flex;
    width: 100%;
    height: var(--dlt-font-line-height-xxl);
}


.product-detailed-logo {
    max-height: 72x;
    max-width: 190px;
    height: 72x;
    width: 190px;
}

#vertical-nav {
    box-shadow: var(--dlt-elevation-md);
    z-index: 1;
}

.border-solid {
    border-left: 3px solid var(--dlt-color-background-interactive-primary-default);
}

.helm-install-command-label {
    width: 328px !important;
    max-width: 328px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.get-helm-install-command-button {
    display: inline !important;
    width: 80%;
}

.helm-install-command-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.dlt-tab-bar {
    max-width: 1500px;
}

.dlt-tab-panel {
    max-width: 1200px;
    padding-top: var(--dlt-sizing-sm) !important;
    padding-left: initial !important;
}

.dlt-tab-nav {
display: inline-flex !important;
}

.tag-card {
    display: flex;
    flex: 1 1;
    flex-wrap: nowrap;
    margin: 10px 5px;
    align-items: center;
    width: 80% !important;
    min-height: 100px;
}

/* Rendered Markdown */
code {
    background-color: #F2F2F2;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table {
    border-collapse: collapse;
    text-align: center;
}
.bg-clicked{
    background-color: var(--dlt-color-global-neutral-500)
}

th, td {
    padding: var(--dlt-spacing-half-x);
    text-align: left;
    border: var(--dlt-border-width-default) solid #ccc;
}

tbody tr:nth-child(odd) {
    background: #eee;
}

.detailed-description h1 {
    font-size:var(--dlt-font-size-md);
}

.detailed-description h2 {
        font-size:var(--dlt-font-size-md);
}

.setup-instructions h1 {
font-size:var(--dlt-font-size-md);
}

.setup-instructions h2 {
    font-size:var(--dlt-font-size-md);
}

/* for toggle behavior */
.toggle {
    position: sticky;
    top: 88%;
    z-index: 9;
}
  
@media (max-width: 768px) {
/* for hiding the sidebar functionality on small devices*/
#toggle {
    display: none;
    position: sticky;
    top: 88%;
    z-index: 9;
}
#toggle.active {
    display: block;
}

#vertical-nav {
    display: none;
}

#vertical-nav.active {
    display: block;
    min-width: 18rem;
    min-height: 100vh!important;
}

#nav-item.active {
    min-width: 18rem;
}

#sidebar {
    display: none;
}

#sidebar.active {
    display: block;
}
#content {
    margin: 0;
}

#content-col {
    display: block;
}
#content-col.active {
    display: none;
}

/* For lowering the helm-install-command-label and tag-card on smaller device*/
.label-main {
    max-width: 228px !important;
}
.label-secondary {
    max-width: 128px !important;
}
.tag-card {
    width: 100% !important;
}
}

@media only screen and (min-width: 767px) {
/*For hiding the toggle on large screens*/
.show-large {
    display: block;
}
.show-mobile {
    display: none;
}
}

.u-p-copy-icon.u-p-copy-icon{
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: min-content;
    background: var(--dlt-color-palette-white);
    color: var(--dlt-color-palette-teal-300);
    padding: var(--dlt-spacing-half-x);
 }
 
 .u-p-account-settings-container {
    display: flex;
    padding-bottom: var(--dlt-spacing-2-x);
 }
 
 .u-p-account-settings-header {
    font-size:var(--dlt-font-size-md);
    margin: var(--dlt-spacing-2-x) 0 0 0;
 }

 .helm-values-table {
    td {
        text-align: center;
    }
 }